/* Select by tagname */

body {
	background-color: green;
}
.top {
	text-align: center;
}
h1 {
  color: red;
}

/* Select by classname */
.header-alt {
  border-bottom: 2px solid red;
}

/* Select a single element by its ID */
#header-primary {
  text-transform: uppercase;
}

/* Select all H1s AND all .header-alts */
h1,
.header-alt {
  border-top: 2px solid blue;
}

/* Use descendent selectors */
div p {
  font-style: italic;
  text-align: center;
}

div.inside {
	float: left;
	margin: 10%;
	margin-top: 5%;
	width: 30%;
	height: 5%;
}

div.outside {
	float: left;
	margin: 10%;
	margin-top: 5%;
	width: 30%;
	height: 5%;
}

img {
	height: 5%;
	width: 30%;
	border-radius: 10%;
	text-align: center;
}

}
/* Target all p's and a's inside of divs */
div p, div a {}

span {
	font-size: 20px;
	font-weight: bold;
	color: blue;
}
